:root {
   --app-font-size: 1.1rem;
   --app-border-radius: 0.4rem;
   --app-color-primary: #006989;
   --app-color-secondary: #a08794;
   --app-color-background: #c6d8d3;
   --app-color-text: #3a3335;
}

#app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

:root {
   --form-font-size: var(--app-font-size);
   --form-border-radius: var(--app-border-radius);
   --form-color-primary: var(--app-color-primary);
   --form-color-secondary: var(--app-color-secondary);
   --form-color-background: var(--app-color-background);
   --form-color-text: var(--app-color-text);
}

.form-container {
   border: 3px solid var(--form-color-primary);
   border-radius: var(--form-border-radius);
   background-color: var(--form-color-background);
}

.cable-info-form .inner-group {
   border: none;
   margin: 0;

   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.cable-info-form .inner-group > label {
   width: 100%;
}

.cable-info-form {
   font-size: var(--form-font-size);

   margin: 0 auto 0 auto;
}

.form-select,
.form-input,
.datalist-option {
   padding: 0.25rem;
   margin: 1rem 0.25rem;
   font-size: var(--form-font-size);
   flex-grow: 2;
}

.form-button {
   -webkit-appearance: none;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   padding: 1rem;
}

.form-primary {
   background-color: var(--form-color-secondary);
   width: 90%;
   color: white;
   font-size: larger;
   font-weight: bold;
   padding: 2rem;
}

@media screen and (min-width: 40em) {
   :root {
      --form-font-size: 1.5rem;
   }

   .cable-info-form .outer-group {
      margin: 1rem;
   }

   .cable-info-form .inner-group {
      margin: 2rem;
      flex-wrap: nowrap;
   }

   .cable-info-form .inner-group > label {
      width: auto;
   }

   .cable-info-form {
      font-size: var(--form-font-size);
      width: max-content;
      margin: 0 auto 0 auto;
   }

   .form-select,
   .form-input,
   .datalist-option {
      padding: 1rem;
      margin: 1rem;
   }
   .form-result {
      font-style: italic;
   }

   .headerbar {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
   }

   .title {
      margin: 0;
      padding: 0;
      color: var(--app-color-primary);
      border-bottom: 3px solid var(--app-color-secondary);
      text-align: center;
   }

   @media screen and (min-width: 40em) {
      .title {
         text-align: left;
      }
   }
}
